@use '../utils/utils' as *;

.grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(200px, 1fr));
  grid-template-rows: repeat(4, minmax(200px, 1fr));
  grid-gap: 20px;
  padding: 2rem;

  &__item {
    padding: 1rem;
    background-color: $mainBC;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
.presentationSection {
  grid-area: 1 / 1 / span 2 / span 2;
}
.competenceSection {
  grid-area: 1 / 3 / span 2 / span 2;
}
.socialSection {
  grid-area: 1 / 5 / span 2 / span 1;
}
.realisationsSection {
  grid-area: 3 / 1 / span 2 / span 4;
}
